Books/DataScience/Guide2DataMining.pdf filter=lfs diff=lfs merge=lfs -text
Books/DataScience/Modern[[:space:]]Data[[:space:]]Science[[:space:]]with[[:space:]]R.pdf filter=lfs diff=lfs merge=lfs -text
Books/Python/Narasimha[[:space:]]Karumanchi-Data[[:space:]]Structure[[:space:]]and[[:space:]]Algorithmic[[:space:]]Thinking[[:space:]]with[[:space:]]Python[[:space:]][[:space:]]Data[[:space:]]Structure[[:space:]]and[[:space:]]Algorithmic[[:space:]]Puzzles-CareerMonk[[:space:]]Publications[[:space:]](2016).pdf filter=lfs diff=lfs merge=lfs -text
